html, body {
  height: 100%;
}

.container {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/*.middle-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}*/
